name: build-and-push

on:
    push: 
        branches: [ main ]
# updating Github Actions WF for OIDC        
permissions: # perm settings for token
    id-token: write # req'd for req'st JWT
    contents: read  # req'd for actions/checkout

env:
    AWS_REGION: eu-west-2
    ECR_REPO: url_shortener_app

jobs: 
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN}}
                aws-region: ${{ env.AWS_REGION }}
            - uses: aws-actions/amazon-ecr-login@v2

            - name: Build Image
              run: |
                IMAGE_TAG=${GITHUB_SHA::7}
                docker build -t $ECR_REPO:$IMAGE_TAG
                docker tag $ECR_REPO:$IMAGE_TAG \
                    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO:$IMAGE_TAG
                echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
            
            - name: Trivy Scan
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: $ecr-repo:${{ env.IMAGE_TAG }}
                severity: CRITICAL,HIGH
                exit-code: 1
            
            - name: Push Image
              run: |
                docker push \
                 ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO:${IMAGE_TAG}         
