name: deploy

on:
    push:
        branches: [ main ]

permissions:
    id-token: write
    contents: read 

env: 
    AWS_REGION: eu-west-2
    ECR_REPO: url_shortener_app
    CLUSTER_NAME: url-shortener-cluster
    SERVICE_NAME: url-shortener-cluster-svc
    CODEDEPLOY_APP: url-shortener-cluster-app
    CODEDEPLOY_GROUP: url-shortener-cluster-cd-group

jobs:
    deploy:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4

            - uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
                aws-region: ${{ env.AWS_REGION }}
            
            - uses: aws-actions/amazon-ecr-login@v2

            - name: Build & Tag
              run: |
                IMAGE_TAG=${GITHUB_SHA::7}
                docker build -t $ECR_REPO:$IMAGE_TAG src 
                docker tag $ECR_REPO:$IMAGE_TAG \
                    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO:$IMAGE_TAG
                echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

            - name: Trviy Scan 
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: $ECR_REPO:${{ env.IMAGE_TAG }}
                severity: CRITICAL, HIGH
                exit-code: 1

            - name: Push
              run: |
                docker push \
                    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO:${IMAGE_TAG}
            
            - name: Register New Task Definition
              id: taskdef
              run: |
                TASK_DEF=$(aws ecs register-task-definition \
                 --family ${CLUSTER_NAME}-task \
                 --execution-role-arn $(aws iam get-role --role-name ${CLUSTER_NAME}-ecs-task-execution --query "Role.Arn" --output text) \
                 --task-role-arn $(aws iam get-role --role-name ${CLUSTER_NAME}-ecs-task-role --query 'Role.Arn' --output text) \
                 --network-mode awsvpc \
                 --requires-compatibilities FARGATE \
                 --cpu 256 \
                 --memory 512 \
                 --container-definition file://app/container-def.json \
                 --query 'taskDefinition.taskDefinitionArn' \
                 --output text)

                echo "TASK_DEF_ARN=$TASK_DEF" >> $GITHUB_ENV

            - name: Replace AppSpec Placeholder
              run: |
                sed -i "s|__TASK_DEF_ARN__|${TASK_DEF_ARN}|g" appspec.yml
            
            - name: Trigger CodeDeploy
              run: |
                aws deploy create-deployment \
                --application-name $CODEDEPLOY_APP \
                --deployment-group-name $CODEDEPLOY_GROUP \
                --revision revisionType=AppSpecContent,appSpecContent="{content=$(cat appspec.yml)}"

