name: terraform-plan 

on:
    pull_request:
        branches: [ main ]

permissions:
    id-token: write
    contents: read 

jobs:
    plan:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
                aws-region: eu-west-2
            
            - uses: hashicorp/setup-terraform@v3

            - run: |
                cd infra/src/venv
                terraform init
                terraform plan 

# Codedeploy will auto handle b/g when the task def changes 